<wrapper>
<div class="container" id="index_header">

  <div class="row">
    <div class="col-md-3">
      <img class="cd" src="https://media.giphy.com/media/s8crIPpjNHtmw/giphy.gif"/>
    </div>
    <div class="col-md-6">
      <h1>Yes, I Still Collect CDs.</h1>
    </div>
    <div class="col-md-3">
      <img class="cd" src="https://media.giphy.com/media/s8crIPpjNHtmw/giphy.gif"/>
    </div>
  </div>

</div>

<div class="container" id="index_body">
  <form action="/tasks" method:"post">
  </form>
</div>

</wrapper>
